.authLogin {
    min-height: 100vh;
    align-items: center;
    background-image: url(/auth-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.authLogin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; 
    background-size: cover;
    background-position: center;
    filter: blur(5000px); 
    z-index: -1; 
}

.loginForm {
    min-width: 380px;
    max-width: 500px; 
}